.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt

# ignore files and folders
Logs/
action_detection_5_signs/
action_detection_5_signs.7z
_.npy
action_my_5.keras
5.npy
